@import '../mixin.scss';
.img-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    // width: 100%;    
}
// .img-container{
//     width: 300px;
// }
#img{
width: 450px;
}

@include mobile{
    #img{
        width: 100%;
    }
}
