@import "./../Styles/Mixin_New.scss";

.project-main {
    width: 100%;
    height: 100%;
    padding: 1rem;
    padding-bottom: 50px;


    .pro-title {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
        // position: sticky;
        top: 20px;

        @include respond-to(sm) {
            position: sticky;
        }

        @include respond-to(xs) {
            position: sticky;
        }

        .pro-tile-text {
            background: linear-gradient(to right, #FE2E64, #DBA901);
            color: transparent;
            -webkit-background-clip: text;
            font-weight: bold;
            position: relative;
            display: flex;
            align-items: center;

            .pro-title-txt {
                font-size: 40px;
            }

            @include respond-to(xs) {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 42px;
            }

            .emoji {
                width: 100px;
                height: 100px;
                margin-right: 15px;

                @include respond-to(xs) {
                    width: 80px;
                    height: 80px;
                }
            }
        }
    }

    .pro-grid-center {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .project-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        margin: 50px 0;

        @include respond-to(sm) {
            margin: 0px 0;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
        }

        @include respond-to(xs) {
            margin: 10px 0;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 10px;
        }



        .project-cover-div {
            border: 1px solid rgb(94, 94, 94);
            aspect-ratio: 1.2/1.6;
            overflow: hidden;
            position: relative;
            z-index: 1;
            // background: black;
            border-radius: 10px;
            transition: 0.5s ease-in-out;
            scale: 0.8;

            @include respond-to(sm) {
                scale: 1;
                aspect-ratio: 3/1.6;
                position: sticky;
                top: 0;
                background: black;
                top: 180px;
            }

            @include respond-to(xs) {
                scale: 1;
                aspect-ratio: 6.5/3;
                position: sticky;
                top: 180px;
                background: black;
            }

            &:hover {
                border: 1px solid rgb(94, 94, 94);
                scale: 0.7;

                @include respond-to(sm) {
                    scale: 1;

                }

                @include respond-to(xs) {
                    scale: 1;

                }

                .project-cover {
                    width: 100%;
                    height: 100%;
                }

                .project-name {
                    font-size: 10px !important;
                    opacity: 0;

                }
            }

            .project-cover {
                width: 0%;
                height: 0%;
                object-fit: cover;
                position: absolute;
                transition: 0.6s ease-in-out;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                @include respond-to(md) {
                    width: 100%;
                    height: 100%;
                }
                @include respond-to(sm) {
                    width: 100%;
                    height: 100%;
                    display: none;
                }

                @include respond-to(xs) {
                    width: 100%;
                    height: 100%;
                    display: none;
                }
            }

            .project-cover1 {
                object-fit: cover;
                position: absolute;
                display: none;

                @include respond-to(sm) {
                    width: 100%;
                    height: 100%;
                    display: flex;
                }
                @include respond-to(xs) {
                    width: 100%;
                    height: 100%;
                    display: flex;
                }
            }

            .project-name {
                transition: 0.3s ease-in-out;
                position: absolute;
                z-index: 2;
                font-size: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                color: white;

                @include respond-to(md) {
                    display: none;
                }
                @include respond-to(sm) {
                    display: none;
                }

                @include respond-to(xs) {
                    display: none;
                }
            }
        }
    }
}