
@import "./mixin";


//   ------------------------------------------------
.bg-container{
    background: #272727;
    color: white;
    height: 100vh;
}

.fa-envelope{
    font-size: 25px;
}
.fa-message{
    font-size: 25px;
}
.fa-whatsapp{
    font-size: 25px;
}
  
.Contact-page-card-left{
    background:#34495e;
    display:flex;
    padding: 20px;
    color: white;
    // width: 300px;
    border-radius: 15px;
    height: 450px;
    display: flex;
    justify-content: center;
    text-align: center; 
}
.Contact-inner-text{
    display: flex;
    cursor: pointer;
    justify-content: center;
}
.colum{
    display: block;
}
.Contact-flex{
    display: flex;
    justify-content:space-between;
    margin-bottom: 10px;
}
    .Contact-inner-card1{
        width: 230px;
        height: 130px;
        background: #2c3e50;
        display: block;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        
        cursor: pointer;
    }

    .about-inner-img{
        display: flex;
        margin-top: 20px;
        justify-content: center;
        cursor: pointer;
    }
    .about-inner-text{
        display: flex;
        cursor: pointer;
        justify-content: center;
    }
 
    @include tab{     
          
        .Contact-inner-card1{
            width: 400px;
        }
    }

    @include mobile{  
        .bg-container{
            background: #272727;
            color: white;
            height: auto;
        } 
        .Contact-inner-card1{
            width: 320px;
        }
    }

