
@import "./mixin.scss";

////////////////////////scroll bar End /////////////////////////////////

.animattion-div{

  animation-name: animattion-div;
  -webkit-animation-name: animattion-div;
  animation-duration: 0.5s;
  -webkit-animation-duration: 1.5s;
  visibility: visible;
} 
@keyframes animattion-div {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

// scroll animation start ====================>
.div {width:100%;visibility:hidden;}
.slideUp {
  animation-name: slideUp;
  animation-name: slideUp;
  animation-duration: 1s;
  animation-duration: 1s;
  visibility: visible;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
// End =======================================>

// ///////////////////////////////////////////////////////////////////
.page-one{
  background: url("../img/Go2ein.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
} 

.Circle-outer-one{
  display:flex;
  width: 100%;
  justify-content: center; 

}
.Circle-outer-margin{
  padding: 20px;
  display: flex;
}
.Circle-outer-card-one{
  border-radius: 10px;
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  // background: green;
  margin: 10px 10px;
}
.Circle-outer-card-one:hover .Circle-outer-card-two-img{
  transform: scale(1.5);
  
}
.Circle-outer-card-two{
  position: relative;
  overflow: hidden;
  width: 250px;
  border-radius: 5px;
  height: inherit;
  // background: red;
  border-radius: 50%;
}

.Circle-outer-card-two-img{
  transition: transform 0.4s;
  background-image: url("../img/aj.jpg");
  width: 250px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.Circle-one{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: rgba(255, 255, 255, 0.774);
  	background: rgba(255, 255, 255, 0.1);
	  box-shadow: 0px 0px 50px rgba(0,0,0,0.2); 
  	border: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);

}

.h{
    // background: red ;
    display:block;
    justify-content: center;
    align-items: center;
    width: 320px;

.text{
    text-align: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    // background: blue;
    color: white;
  }
}

.circle-div-center{
  width: 100%;
  display: flex;
  justify-content: center;

}

.out{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: yellow;
    .mouse-container{
      width: 100%;
      display: flex;
      justify-content: center;
      // background: red;
      padding: 25px;
    }
}

// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Mouse >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>


.mouse {
  width: 37px;
  height: 60px;
  color: rgba(255, 255, 255, 0.774);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.774);
  backdrop-filter: blur(10px);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
   .dot {
    width: 7px;
    height: 7px;
    background:white ;
    border-radius: 100%;
    position: relative;
    animation: mymove 2s;
    animation-iteration-count: infinite;
    transition: 1s;
  }

  @keyframes mymove {
    from {
      top: 0px;
      opacity: 0;
    }

    to {
      top: 70%;
      opacity: 5;
    }
  }
&:hover{
  background: rgba(255, 255, 255, 0.267);
  border: 1px solid white;
  backdrop-filter: blur(15px);
 
}
}


// >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Media Queries >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>.
@include des {
  
  .Circle-one{
    // display: none;
  }
  
  .h{
 
.text{
    text-align: center;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 50px;
    // background: blue;
    color: white;
  }
}

.mouse-container{
  width: 100%;
  display: flex;
  justify-content: center;
  // background: red;
  margin-top: 100px;
  margin-bottom: 20px;
}

}


@include mobile{

  .mouse-container{
    width: 100%;
    display: flex;
    justify-content: center;
    // background: red;
    margin-top: 0px;
  }
  .h{
    // background: red ;
    display:block;
    justify-content: center;
    align-items: center;
    width: 320px;

.text{
    text-align: center;
    width: 100%;
    margin: 40px 0px;
    background: none;
    color: white;
  }
}

  .Circle-outer-card-one{
    width: 230px;
    height: 230px;
  }
  
  .Circle-outer-card-two{
    width: 230px;
    border-radius: 100%;
  }
  
  .Circle-outer-card-two-img{
    background-image: url("../img/aj.jpg");
    width: 230px;
    height: 230px;
  }

  .Circle-one{
      height: 270px;
      width: 270px;
      padding: 20px;
  }

}