@import './mixin.scss';

// -----------------------------icons -----------------------------

.img-facebook{
    width: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356);
    border-radius: 100%;
}


// ---------------------------end---------------------------
.form-center{
    display: flex;
    justify-content: center;
    // background: red;
    .w-150{
        width: 300px;
    }
    form{
    padding: 10px;
    // background: blue;
    }
}
.sotioal-icon-row{
    width: 300px;
    display: flex;
    align-items: center;

}
.sotioal-icon{
    margin-top: 20px;
.fa-brands{
    cursor: pointer;
    display: flex;
    margin: 0 0px;
    color: rgba(255, 255, 255, 0.637);
    font-size:20px;
}
.fa-brand-mg{
    display: flex;
    margin: 0 18px !important;
}
}

// /////////////

@include mobile{
    .span-display-block{
        margin: 0;
    }
    .form-center{
        // background: red;
        margin:0px;
    }
    .sign-in-margin{
        margin-bottom: 2em;
    }
}